<a href="https://colab.research.google.com/github/joowan0228/ch16_task_code/blob/main/Chaper1416_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter14 ~ 16 수업은 잘 들으셨나요?

Chapter14 ~ 16의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.

<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

__[문제1]__

주어진 정수 x와 자연수 n을 이용해, x부터 시작해 x씩 증가하는 숫자를 n개 지니는 리스트를 출력해주세요   
<br>

x = 2, n =5

In [36]:
x = 2
n = 5

print(f"{x}부터 시작해서 {x}씩 {n}번 증가한 결과입니다")

result = []

for i in range(1, n + 1):
    result.append(x * i)

print(f'\n{result}')

2부터 시작해서 2씩 5번 증가한 결과입니다

[2, 4, 6, 8, 10]

---

__[문제2]__

전화번호가 문자열 phone_number로 주어졌을 때, 전화번호의 뒷 4자리를 *으로 가린 문자열이 출력되도록 코드를 작성해주세요

phone_number = "01012347890"  
<br>

출력 예) "0101234****"

In [37]:
phone_number = list("01012347890")
count = 0

print(f"처음 전화번호: {''.join(phone_number)}\n")

for i in range(len(phone_number)-1, -1, -1):
    if count == 4:
        break

    before = phone_number[i]
    phone_number[i] = "*"
    after = phone_number[i]
    count += 1

    print(f"{i}번째 글자 '{before}' --> '{after}' 로 변경: {''.join(phone_number)}")

print(f"\n가린 전화번호: {''.join(phone_number)}")

처음 전화번호: 01012347890

10번째 글자 '0' --> '*' 로 변경: 0101234789*
9번째 글자 '9' --> '*' 로 변경: 010123478**
8번째 글자 '8' --> '*' 로 변경: 01012347***
7번째 글자 '7' --> '*' 로 변경: 0101234****

가린 전화번호: 0101234****

---

__[문제3]__

숫자를 건넬 때 일부 자릿수를 영단어로 바꾼 카드를 건네주면 프로도는 원래 숫자를 찾는 게임입니다.

다음은 숫자의 일부 자릿수를 영단어로 바꾸는 예시입니다.

1478 → "one4seveneight"  
234567 → "23four5six7"  
10203 → "1zerotwozero3"    

이렇게 숫자의 일부 자릿수가 영단어로 바뀌어졌거나,   
혹은 바뀌지 않고 그대로인 문자열 s가 주어졌을때
s가 의미하는 원래 숫자를 출력하도록 코드를 작성해주세요

s = "77three4one

---
참고로 각 숫자에 대응되는 영단어는 다음 표와 같습니다.

숫자	영단어  
0	zero  
1	one  
2	two  
3	three  
4	four  
5	five  
6	six  
7	seven  
8	eight  
9	nine

In [38]:
s = "77three4one"

num_to_word = {"0":"zero", "1":"one", "2":"two", "3":"three", "4":"four", "5":"five", "6":"six", "7":"seven", "8":"eight", "9":"nine"}
word_to_num = {v: k for k, v in num_to_word.items()}

temp = ""
num_result = ""
word_result = ""

print(f"입력값 s: {s}\n")

for char in s:
    temp += char
    if temp.isdigit():
        num_result += temp
        word_result += num_to_word[temp]
        print(f"'{temp}' 는 숫자라서 --> '{num_to_word[temp]}' 로 영단어 변환, 숫자는 그대로 '{num_result}'")
        temp = ""
    else:
        for word in word_to_num:
            if word in temp:
                num_result += word_to_num[word]
                word_result += word
                print(f"'{temp}' 에서 '{word}' 발견 --> '{word_to_num[word]}' 로 숫자 변환, 영단어는 그대로 '{word_result}'")
                temp = ""
                break

print("\n" + "="*50)
print(f"영단어로 바꾼 결과: {word_result}")
print(f"숫자로 바꾼 결과: {num_result}")
print("="*50)

입력값 s: 77three4one

'7' 는 숫자라서 --> 'seven' 로 영단어 변환, 숫자는 그대로 '7'
'7' 는 숫자라서 --> 'seven' 로 영단어 변환, 숫자는 그대로 '77'
'three' 에서 'three' 발견 --> '3' 로 숫자 변환, 영단어는 그대로 'sevenseventhree'
'4' 는 숫자라서 --> 'four' 로 영단어 변환, 숫자는 그대로 '7734'
'one' 에서 'one' 발견 --> '1' 로 숫자 변환, 영단어는 그대로 'sevenseventhreefourone'

==================================================
영단어로 바꾼 결과: sevenseventhreefourone
숫자로 바꾼 결과: 77341
==================================================

---

__[문제4]__

행렬의 덧셈은 행과 열의 크기가 같은 두 행렬의 같은 행, 같은 열의 값을 서로 더한 결과가 됩니다.

 행렬 arr1과 arr2가 주어졌을 때, 행렬 덧셈의 결과를 출력하는 코드를 작성해주세요(result와 같은 결과가 출력되도록 작성)

arr1 = [[1,2],[2,3]]

arr2 = [[3,4],[5,6]]

result = [[4,6],[7,9]]

In [39]:
arr1 = [[1, 2], [2, 3]]
arr2 = [[3, 4], [5, 6]]
result = []

print(f"arr1 = {arr1}")
print(f"arr2 = {arr2}\n")

for i in range(2):
    row = []
    for j in range(2):
        value = arr1[i][j] + arr2[i][j]
        print(f"{i}행 {j}열: {arr1[i][j]} + {arr2[i][j]} = {value}")
        row.append(value)
    result.append(row)

print(f"\n덧셈 결과: {result}")

arr1 = [[1, 2], [2, 3]]
arr2 = [[3, 4], [5, 6]]

0행 0열: 1 + 3 = 4
0행 1열: 2 + 4 = 6
1행 0열: 2 + 5 = 7
1행 1열: 3 + 6 = 9

덧셈 결과: [[4, 6], [7, 9]]

---

__[문제5]__

양의 정수 x가 하샤드 수이려면 x의 자릿수의 합으로 x가 나누어져야 합니다.   
예를 들어 18의 자릿수 합은 1+8=9이고, 18은 9로 나누어 떨어지므로 18은 하샤드 수입니다.   
주어진 x를 이용해 x가 하샤드 수인지 아닌지 검사하는 코드를 작성해주세요

x = 17

----

입출력 예시
x	결과값  
10	true  
12	true  
11	false  
13	false

In [40]:
x = 17

digit_sum = 0
for digit in str(x):
    digit_sum += int(digit)
    print(f"현재 자릿수: {digit}, 누적 합: {digit_sum}")

result = x % digit_sum == 0

print(f"\n{x}은(는) 자릿수 합 {digit_sum}으로 나누어{'떨어집니다' if result else '떨어지지 않습니다'}")
print(f"결과: {result}")

현재 자릿수: 1, 누적 합: 1
현재 자릿수: 7, 누적 합: 8

17은(는) 자릿수 합 8으로 나누어떨어지지 않습니다
결과: False

---

__[문제6]__

String형 배열 seoul의 element중 "Kim"의 인덱스 x를 찾아, "김서방은 x에 있다"는 String을 출력하는 코드를 작성해주세요.   

seoul에 "Kim"은 오직 한 번만 나타나며 잘못된 값이 입력되는 경우는 없습니다.

seoul = ["Jane", "Kim"]

<br>
출력 예) "김서방은 1에 있다"

In [41]:
seoul = ["Jane", "Kim"]

for index in range(len(seoul)):
    if seoul[index] == "Kim":
        print(f"김서방은 {index}에 있다")
        break

김서방은 1에 있다

---

__[문제7]__

0부터 9까지의 숫자 중 일부가 들어있는 정수 배열 numbers가 주어집니다.   
numbers에서 찾을 수 없는 0부터 9까지의 숫자를 모두 찾아 더한 수를 출력해주세요

numbers = [5,8,1,0,6,9]

In [42]:
numbers = [5, 8, 1, 0, 6, 9]

total = 0
for num in range(10):  # 0부터 9까지
    if num not in numbers:
        total += num
        print(f"없는 숫자 {num}를 더합니다, 현재 합: {total}")

print(f"\n없는 숫자의 총합: {total}")

없는 숫자 2를 더합니다, 현재 합: 2
없는 숫자 3를 더합니다, 현재 합: 5
없는 숫자 4를 더합니다, 현재 합: 9
없는 숫자 7를 더합니다, 현재 합: 16

없는 숫자의 총합: 16